* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  background-color: blue;
  min-height: 100vh;
}

.asideContainer {
  width: 15%;
  min-height: 100vh;
  background-color: aqua;
}

.principalContainer {
  width: 85%;
  min-height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;  
  height: 60vh;
}
.card-body {
  height: 50vh
}